body {
    background-color: rgb(3, 94, 0);
    font: normal 20pt Arial;
    color: white;
}

p {
    text-align: center;
}

h1 {
    font: normal 40pt Times;
    text-align: center;
}

section
{
    text-align: center;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    align-items: flex-end;
}

button {
    background-color: white;
    font: normal 12pt Arial;
    width: 250px;
    height: 40px;
    border: 3px solid rgb(36, 36, 36);
    border-radius: 5px;
}

p {
    color: white;
    font: normal 15pt Arial;
}

iframe {
    text-align: center;
}

div {
    text-align: center;
}